<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers.rankMapper">

	<select id="selectAll" resultType="rankModel">
		<![CDATA[
			SELECT * FROM rank_model
		]]>
	</select>
	<select id="selectById" resultType="rankModel">
		<![CDATA[
			select * from rank_model where id=#{id}
		]]>
	</select>
	<select id="selectbyName" resultType="rankModel">
		<![CDATA[
			select * from rank_model where name =#{name}
		]]>
	</select>
	<insert id="search" parameterType="rankModel">
	<![CDATA[
	 select* form rank_model where name ='rank%'
	]]>
	</insert>
	<insert id="insert" parameterType="rankModel">
		<![CDATA[
			insert into rank_model
			(name,price,salary,status,createdate,modifieddate,createdby,modifiedby)
			values
			(#{name},#{price},#{salary},#{status},#{createdate},#{modifieddate},#{createdby},#{modifiedby})
		]]>
	</insert>
	<update id="update" parameterType="rankModel">
		<![CDATA[
			update rank_model set
			name = #{name},
			price = #{price},
			salary = #{salary},
			status = #{status},
			createdate = #{createdate},
			modifieddate = #{modifieddate},
			createdby = #{createdby},
			modifiedby = #{modifiedby}
			where id =#{id}
		]]>
	</update>
	<delete id="delete" parameterType="java.util.List">
		delete from rank_model where id in
		<foreach collection="list" item="item" index="key" open="(" separator=" , " close=")">
			#{item}
		</foreach>
	</delete>
	<select id="selectRank" resultType="rankModel">
	<![CDATA[
		SELECT *
		FROM rank_model 
    ]]>
	</select>
</mapper>