<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers.salaryModelMapper">

	<insert id="insert" parameterType="salaryModelModel">
				insert into salary_model
				(modelid,  month, salary, year,createdate,modifieddate) 
				values (#{modelid}, #{month}, #{salary}, #{year},CURRENT_TIMESTAMP(),CURRENT_TIMESTAMP())
	</insert>
	
	<select id="findByIdModel" resultType="salaryModelModel" parameterType="int">
		SELECT * FROM salary_model where modelid = #{modelid}
	</select>
	
	<select id="findSalaryByModelid" resultType="salaryModelModel" parameterType="int">
		SELECT salary FROM (SELECT m.id,r.salary FROM model m, rank_model r WHERE m.rankid= r.id) AS a WHERE a.id=#{id}
	</select>
	
	<update id="update" parameterType="salaryModelModel">
		update salary_model set modelid=#{modelid},month=#{month},salary=#{salary},year=#{year},modifieddate=CURRENT_TIMESTAMP()
		where id = #{id}
	</update>
	
	<delete id="delete" parameterType="java.util.List">
		delete from salary_model where modelid in
		<foreach collection="list" item="item" index="key" open="("
			separator=" , " close=")">
			#{item}
		</foreach>
	</delete>
	
</mapper>